<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gudi.admin.dao.AdminDAO">
	<select id="logingo" resultType="String">
		SELECT ad_id FROM admin WHERE ad_id =#{param1} AND ad_pw = #{param2}
	</select>
	
	<select id="adminProfile" resultType="kr.co.gudi.admin.dto.AdminDTO">
		SELECT * FROM admin WHERE ad_id = #{param1}
	</select>
	
	<select id="adminlist" resultType="kr.co.gudi.admin.dto.AdminDTO">
		select ad_id,ad_name,ad_position from admin
	</select>
	
	<select id="adminSearchList" resultType="kr.co.gudi.admin.dto.AdminDTO">
		select ad_id,ad_name,ad_position from admin where ad_position = #{param1}
	</select>
	
	<update id="adminprofileupdate" parameterType="hashmap">
		update admin set	ad_pw=#{ad_pw},ad_phone=#{ad_phone} where	ad_id=#{ad_id}
	</update>
	
	<select id="adpfdetail" resultType="kr.co.gudi.admin.dto.AdminDTO">
		select * from admin where ad_id = #{param1}
	</select>
	
</mapper>