<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
    <mapper namespace="kr.co.gudi.reserve.dao.ReserveDAO">
	
	<select id="amCnt" resultType="int">
		SELECT count(r_state) FROM reserve where r_state='0'
	</select>
	
	<select id="pmCnt" resultType="int">
		SELECT count(r_state) FROM reserve where r_state='1'
	</select>
	
	<select id="apmCnt" resultType="int">
		SELECT count(r_state) FROM reserve where r_state='2'
	</select>
	
	<select id="aniName" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT com_id FROM reserve
	</select>
</mapper>