<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
 <mapper namespace="kr.co.gudi.reserve.dao.ReserveListDAO">
	<select id="findAni" resultType="String">
		SELECT a_num FROM animal
			WHERE user_id = #{param1} AND a_name=#{param2}
	</select>
	
	<insert id="saveReserve">
		INSERT INTO reserve(user_id,com_id,a_num,r_start,r_end,r_pick,r_pickaddr,r_totalprice,r_spec)
			VALUES(#{user_id},#{com_id},#{a_num},#{r_start},#{r_end},#{r_pick},#{r_pickaddr},
			#{r_totalprice},#{r_spec})
	</insert>
	
	<select id="reserveComList" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT r_num,user_id,r_start,r_end,r_state FROM reserve 
			where com_id=#{param1}
			ORDER BY r_num DESC LIMIT 10 OFFSET #{param2}
	</select>	
	
	<select id="reserveList" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT r_num,com_id,r_start,r_end,r_state FROM reserve 
			where user_id=#{param1}
			ORDER BY r_num DESC LIMIT 10 OFFSET #{param2}
	</select>	
	
	<select id="checkId" resultType="int">
		SELECT count(*) FROM company where user_id=#{param1}
	</select>
	
	<select id="section" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT r_num, user_id, r_start, r_end, r_state
    	FROM reserve
    	<![CDATA[
   		 WHERE com_id = #{param1} AND 
        	r_start>=#{param2} AND
        	r_end<=#{param3}
        	 ]]>
    	ORDER BY r_num DESC
    	LIMIT 10 OFFSET #{param4}
	</select>
	
	<select id="state" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT * FROM reserve
			WHERE com_id = #{param1} AND r_state=#{param2}
			ORDER BY r_num DESC LIMIT 10 OFFSET #{param3}
	</select>

		<select id="userState" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT * FROM reserve
			WHERE user_id = #{param1} AND r_state=#{param2}
			ORDER BY r_num DESC LIMIT 10 OFFSET #{param3}
	</select>
	<select id="all" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		select r_num,user_id,r_start,r_end,r_state from reserve
			where com_id=#{param1}
			ORDER BY r_num DESC LIMIT 10 OFFSET #{param3}
	</select>

	<select id="userAll" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		select r_num,user_id,r_start,r_end,r_state from reserve
			where user_id=#{param1}
			ORDER BY r_num DESC LIMIT 10 OFFSET #{param3}
	</select>
	
	<select id="chkDetail" resultType="String">
		SELECT r_pick FROM reserve
			WHERE r_num=#{param2}
	</select>
	
	<select id="detail" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT
    r.r_num,
    c.com_name,
    r.user_id,
    a.a_name,
    a.a_gender,
    a.a_age,
    a.a_kind,
    a.a_spec,
    r.r_spec,
    r.r_start,
    r.r_end,
    r.r_pick,
    r.r_pickaddr,
    r.r_totalprice,
    r.r_state,
    m.phone
FROM
    reserve r
LEFT JOIN
    animal a ON r.user_id = a.user_id AND r.a_num = a.a_num
LEFT JOIN
    company c ON r.com_id = c.user_id
LEFT JOIN
    member m ON r.user_id = m.user_id
WHERE
    r.r_num = #{param2}
	</select>
	
	
	<update id="change">
		UPDATE reserve
			SET r_state = #{param2}
			WHERE r_num = #{param1}
	</update>
	
	<update id="plus">
		update company
   			set user_total = user_total+1
   			where user_id = #{param1}
	</update>
	
	<insert id="saveReview">
		INSERT INTO review (user_id, com_id,r_num,rev_subject,rev_star,rev_content)
			SELECT r.user_id, r.com_id,r.r_num,#{rev_subject},#{rev_star},#{rev_content}
			FROM reserve r
			WHERE r.r_num =#{r_num};
	</insert>
	
	<select id="rivDetail" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		select * from review 
			where r_num = #{param1}
			AND rev_state=1
	</select>
	
	<update id="revCancel">
		UPDATE reserve
			SET r_state = '취소'
			WHERE r_num = #{param1}
	</update>
	
	<insert id="saveRevCancel">
		INSERT INTO cancel(r_num,user_id,c_reason)
			VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<select id="cancelReason" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT * FROM cancel 
			WHERE r_num=#{param1}
	</select>
	
	<insert id="saveReply">
		INSERT INTO review_reply(rev_num,rrep_content)
			VALUE(#{param1},#{param2})
	</insert>
	
	<select id="replyDetail" resultType="kr.co.gudi.reserve.dto.ReserveDTO">
		SELECT review.rev_num, review_reply.*
			FROM review
			INNER JOIN review_reply ON review.rev_num = review_reply.rev_num
			WHERE review.r_num = #{param1} AND review_reply.rrep_state=1
	</select>
	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(user_id)/5) AS pages FROM reserve
	</select>
	
	<select id="auto" resultType="int">
		SELECT count(*) FROM company
			WHERE user_id = #{param1}
	</select>
	
	<update id="reviewDel">
		UPDATE review
			SET rev_state = 0
			WHERE rev_num=#{param1}
	</update>
	
	<update id="rrepDel">
		UPDATE review_reply
			SET rrep_state = 0
			WHERE rrep_num=#{param1}
	</update>
	
	<select id="calStar" resultType="int">
      SELECT avg(rev_star)
      FROM review
      WHERE com_id  = (SELECT user_id
                                              FROM company
                                              WHERE  user_id= (select com_id from review where r_num=#{r_num}))
   </select>
   
   <update id="updateStar">
      UPDATE company
      SET avg_star = #{avg_star}
      WHERE user_id = (select com_id from review where r_num=#{r_num})
   </update>
	
</mapper>


