<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
    <mapper namespace="kr.co.gudi.profile.dao.ProfileDAO">
    
	<select id="profile" resultType="kr.co.gudi.profile.dto.ProfileDTO">
		SELECT * FROM member WHERE user_id = #{param1}
	</select>
	
	<select id="list" resultType="kr.co.gudi.profile.dto.ProfileDTO">
			select a_name,a_gender,a_age,a_kind,a_spec from animal where user_id = #{param1}
	</select>
	
	<update id="profileupdate" parameterType="hashmap">
		update member set pw=#{pw},phone=#{phone}
		where user_id=#{user_id}
	</update>
	
	<select id="updatelist" resultType="kr.co.gudi.profile.dto.ProfileDTO">
		select a_num,a_name,a_gender,a_age,a_kind,a_spec from animal 
		where user_id = #{param1}
	</select>
	
	<delete id="animalprofiledelete">
		delete from animal where a_num = #{param1}
	</delete>
	
	<insert id="animalregister" parameterType="HashMap">
		insert into animal(user_id,a_name,a_gender,a_age,a_kind,a_spec)
		value(#{user_id},#{a_name},#{a_gender},#{a_age},#{a_kind},#{a_spec})
	</insert>
	
	<!-- <insert id="comregister" parameterType="HashMap">
		insert into company (user_id,com_name,address,com_time,accept,pickup)
		values (#{user_id},#{com_name},#{address},#{com_time},#{accept},#{pickup})
	</insert> -->
	
	<update id="userstatedeleter" parameterType="hashmap">
		update member set state='4' where user_id=#{param1}
	</update>
	
	<select id="userstatechecker" resultType="kr.co.gudi.profile.dto.ProfileDTO">
		select state from member where user_id=#{param1}
	</select>
	
	<update id="userstateupdater" parameterType="hashmap">
		update member set state='1' where user_id=#{param1}
	</update>
	
	<select id="comlist" resultType="kr.co.gudi.profile.dto.ProfileDTO">
		select com_num,user_id,com_name,com_time,accept,pickup,user_total,address,avg_star,price from company
		where user_id = #{param1}
	</select>
	
	<insert id="writepickupinfo" parameterType="HashMap">
		insert into pick_price (com_num,p_distance,p_section,p_price)
		values(#{param1},#{param2},#{param3},#{param4})
	</insert> 
	
	<select id="pickuplist" resultType="kr.co.gudi.profile.dto.ProfileDTO">
		SELECT pp.p_num, pp.p_distance,pp.p_section,pp.p_price
		FROM company c
		JOIN pick_price pp ON c.com_num = pp.com_num
		WHERE c.com_num = #{param1}
    </select>
    
    <insert id="writeticketprice" parameterType="hashmap">
    	insert into ticket_price (com_num,t_price,t_type)
		values(#{param1},#{param2},#{param3})
    </insert>
    
    <select id="ticketlist" resultType="kr.co.gudi.profile.dto.ProfileDTO">
		SELECT tp.t_num, tp.t_price, tp.t_type FROM company c
		JOIN ticket_price tp ON c.com_num = tp.com_num
		WHERE c.com_num = #{param1}
    </select>
    
    <delete id="pickuppricedelete">
		delete from pick_price where p_num = #{param1}
	</delete>
	
	<delete id="ticketpricedelete">
		delete from ticket_price where t_num = #{param1}
	</delete>
	
	<insert id="saveFile">
		INSERT INTO photo (photo_code, photo_n, oriFileName, newFileName)
			VALUES ('cp', #{param1}, #{param2}, #{param3})
	</insert>
	
	<insert useGeneratedKeys="true" keyColumn="com_num" keyProperty="com_num" id="comregister" parameterType="kr.co.gudi.profile.dto.ProfileDTO">
		insert into company (user_id,com_name,address,com_time,accept,pickup,price)
		values (#{user_id},#{com_name},#{address},#{com_time},#{accept},#{pickup},#{price})
	</insert>
	
</mapper>