<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gudi.board.dao.BoardDAO">
      
<!--       <select id="boardList" resultType="kr.co.gudi.board.dto.BoardDTO">
		SELECT *
		FROM board WHERE user_id in(SELECT user_id FROM MEMBER WHERE state = #{param1})
		AND b_state = 1 ORDER BY idx DESC	LIMIT #{param1} OFFSET #{param2}
      </select> -->

		<insert 
			useGeneratedKeys="true"
			keyColumn="b_num"
			keyProperty="b_num"
			id="writeBoard" parameterType="kr.co.gudi.board.dto.BoardDTO">
			INSERT INTO board(b_subject,user_id,b_content,b_date,b_hit,b_state,b_code)
				VALUES(#{b_subject},#{user_id},#{b_content},now(),0,1,"b")
		</insert>
		
		<insert 
			useGeneratedKeys="true"
			keyColumn="b_num"
			keyProperty="b_num"
			id="adminwriteBoard" parameterType="kr.co.gudi.board.dto.adminBoardDTO">
			INSERT INTO adminboard(adb_subject,ad_id,adb_content,adb_date,adb_hit,adb_state,b_code)
				VALUES("${adb_subject}","${ad_id}","${adb_content}",now(),0,1,"adb")
		</insert>

      <select id="searchList" resultType="kr.co.gudi.board.dto.BoardDTO">
      SELECT * FROM board WHERE ${param1} like '%${param2}%' AND b_state = 1 ORDER BY b_num DESC LIMIT #{param3} OFFSET #{param4}
      </select>
      
      <select id="boardList" resultType="kr.co.gudi.board.dto.BoardDTO">

		SELECT *
			FROM board WHERE user_id in(SELECT user_id FROM MEMBER WHERE state = #{param1})
		AND b_state = '1' ORDER BY b_num DESC LIMIT #{param2} OFFSET #{param3}

		</select>

		<select id="searchmaxpage" resultType="int">
		SELECT (count(b_num)/#{param1})
		FROM board  
		WHERE ${param2} like '%${param3}%' AND b_state = 1 ORDER BY b_num DESC
		</select>

		<select id="maxpage" resultType="int">
		SELECT (count(b_num)/${param1})
		FROM board as b join member as m 
		on b.user_id = m.user_id and m.state = ${param2} AND b_state=1
		</select>
		
		<select id="boardDetail" resultType="kr.co.gudi.board.dto.BoardDTO">
		
		SELECT b_subject, b_hit, user_id, b_date,b_content ,b_num FROM board WHERE b_num = #{param1}
		
		</select>
		
		<select id="boarduse" resultType="String">
		
		SELECT user_id FROM board WHERE b_num = #{param1}
		
		</select>
		
		<update id="boardDelete" parameterType="int">
		
		update board set b_state = 0 WHERE b_num = #{param1}
		
		</update>
		<update id="hit" parameterType="String">
		
		update board set b_hit = b_hit + 1 WHERE b_num = #{param1}
		
		</update>
		
		<select id="getPhoto" resultType="kr.co.gudi.photo.dto.photoDTO">
		
		select * from photo where photo_code = "b" and photo_n = #{param1}
		
		</select>
		
		<select id="re" resultType="kr.co.gudi.board.dto.BoardDTO">
		
		select * from board where b_num = #{param1}
		
		</select>
		
		<update id="boardUpdate" parameterType="kr.co.gudi.board.dto.BoardDTO">
		
		UPDATE board SET b_subject = "${b_subject}", b_content = "${b_content}" WHERE b_num = ${b_num} 
		
		</update>
		
		<insert id="boardwritePhoto" parameterType="String">
		
		insert into photo (photo_code,photo_n,oriFileName,newFileName)
			values("b",${param1},"${param2}","${param3}")
		
		</insert>
		
		<insert id="adminboardwritePhoto" parameterType="String">
		
		insert into photo (photo_code,photo_n,oriFileName,newFileName)
			values("adb",${param1},"${param2}","${param3}")
		
		</insert>
		
		<update id="adboardDelete" parameterType="int">
		
		update adminboard set adb_state = 0 WHERE b_num = #{param1}
		
		</update>
		
		
		<insert id="boardReport" parameterType="String">
		
		insert into report (report_type,report_date ,report_get ,report_content ,report_state ,user_id)
			values(0,now(),#{param1},#{param2},0,#{param3})
		
		</insert>
		
		


</mapper>